#background {
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    height: 1087px;

}

.logo {
    max-width: 160px;
    margin-top: 30px;
    margin-bottom: 100px;
    
}

.Guido {
   text-align: center;
}