#background {
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    height: 1087px;

}

.logo {
    max-width: 160px;
    margin-top: 30px;
    
    margin-bottom: 100px;
    
}

.title {
    color: white;
    font-size: 4em;
    font-family: 'Outfit', sans-serif;
}

.container {
  margin-left: 100px;  
}

.div-title {
    margin-bottom: 20px;
}

.title-3 {
    font-size: 2em;
    color: #d20094;
    font-family: 'Outfit', sans-serif;
    margin-bottom: 10px;
}

p, li {
    color: white;
}

.para {
    font-family:'Inter', sans-serif;  
}

#timer {
    color: blue;
}

.par1 {
    margin-bottom: 30px;
}

.ul {
    margin-bottom: 40px;
    
    
}

.span {
    font-style: bold;
}