.disappear{
    display: none;
}



.background {
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    max-width: 1000px;
    margin: 50px 100px;
    padding: 50px 100px;
}

.logo {
    /* max-width: 160px;*/
    width: 20%;
    margin-top: 30px;
    margin-bottom: 30px;

}


.title {
    color: white;
    font-size: 4.5rem;
    font-family: 'Outfit', sans-serif;
    word-wrap: break-word;
    padding-right: 440px;
    line-height: 60px;
}

/* .container {
    margin-left: 100px;
} */

.div_title {
    margin-bottom: 10px;
}

.title_3 {
    font-size: 1.5rem;
    color: #d20094;
    font-family: 'Outfit', sans-serif;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 50px;
}


.para {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 0.8rem;
    line-height: 20px;
}



.par1 {
    margin-bottom: 30px;
}

.ul {

    padding-left: 30px;
    font-size: 0.8rem;
    line-height: 15px;
    margin-top: 40px;
    margin-bottom: 30px;

}

.span {
    font-weight: bold;
}

.list {
    font-family: 'Inter', sans-serif;
    color: white;
    margin-top: 10px;
}

.bottom {
    display: inline-block;
}

.button_p {
    background-color: #00FFFF;
    border: none;
    text-transform: uppercase;
    margin-left: 250px;
    width: 140px;
    height: 50px;
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.button-p:hover {
    background-color: red;
    transition: 0.7s;
    cursor: pointer;
}


.check {
    background-color: transparent;
    padding: 5px 10px;
    width: 10px;
    height: 10px;
}

/* pagina2 */


.multipleChoise {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cerchio{
    padding-left: 650px;
}


#timer {
    display: flex;
    color: white;
    border: 15px solid #00FFFF;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
}

.logoEtimer{
    display: inline-block;
}


/* .cerchio {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 80px;
    right: 550px;
} */


.question {
    color: white;
    font-size: 2rem;
    font-family: 'Outfit', sans-serif;
    /* display: flex; */
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
    line-height: 60px;
    text-align: center;
    padding: 10px 70px;
} 

#buttons{
    padding: 10px 50px;
    margin: 25px;
}

.answersbuttons{
    color: white;
    background-color: #9687ab5c;
    border-radius: 50px 50px 50px 50px;
    border: 2px solid white;
    text-align: center;
    padding: 20px 130px;
    margin: 10px;
    /* width: 25%; */
}

.answersbuttons:hover{
    background-color: #BF008D;
}

#questionCounter{
    color: white;
    display: flex;
    justify-content: center;
}

/* Pagina3 */

.logo {
    max-width: 160px;
    margin-top: 30px;
    margin-left: 50px;
    
}

.Guido {
   text-align: center;
}

.risultato {
    text-align: center;
    color: white;
}

.titolo {
    font-size: 3rem;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
}

.testo {
    font-size: 1.5rem;
    font-family:'Inter', sans-serif;
    margin-top: 10px;
}

.central {
    display: flex;
    justify-content: center;
   margin-top: 30px;
   color: white;
   align-self: center;
   font-family:'Inter', sans-serif;
}

.esamepassato {
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    
}

.certificate {
    
}

.passed {
    margin-bottom: 20px;
    font-weight: bold;
    color: #00FFFF;

}

.rispostecorrette {
    
}

.divbottone {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 60px;
}

.bottonepagina3 {
    color: white;
    background-color: transparent;
    border: 2px white solid;
    font-family:'Inter', sans-serif;
    font-weight: bold;
    width: 140px;
    height: 50px;
}

.percentuale {
    font-size: 2rem;
}

/* Pagina4 */

.logo {
    max-width: 160px;
    margin-top: 30px;
    margin-bottom: 80px;
    
}

.titolop4 {
    color: white;
    font-size: 3rem;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.votazione {
    color: white;
    font-size: 1.5rem;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}

.stella {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
      
}

.stella img {
    padding-left: 10px;
}

.valutazione {
    padding-bottom: 10px;
}


.leaveus {
    color: white;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    margin-top: 40px;
    font-size: 1.5rem;

}

.dati {
    margin-top: 40px;
    width: 100%;
    padding-bottom: 4px;
    padding-left: 15px;
    background: transparent;
    border: none;
    border-bottom: rgb(185, 32, 185) 1px solid;
    font-size: 1rem;
}

.divbottonep4 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}



.bottonepagina4 {
    background-color: #00FFFF;
    border: none;
    text-transform: uppercase;
    width: 190px;
    height: 55px;
    font-size: 1rem;
    font-weight: 800;
   


}
