#background {
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    max-width: 1000px;
    margin: 50px 100px;
    padding: 100px;

}


.logo {
    max-width: 160px;
    margin-top: 30px;
    margin-bottom: 100px;
    
}

.title {
    color: white;
    font-size: 2em;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    justify-content: center;
}

.testo {
    color: white;
    font-size: 1em;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    justify-content: center;
}

.stella {
    text-align: center;
    background-repeat: repeat 10;
    display: inlineblock;
    height: 100%;
    float:left;
}

.dati {
    margin-top: 30px;
    width: 100%;
    padding-bottom: 3px;
    background: transparent;
    border: none;
    border-bottom: rgb(185, 32, 185) 1px solid;
}



.bottonepagina4:hover {
text-align: center;
background-color:#00FFFF;
color: rgb(26, 26, 26);
}