#background {
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    height: 1087px;

}

.logo {
    max-width: 160px;
    margin-top: 30px;
    
    margin-bottom: 100px;
    
}

.title {
    color: white;
    font-size: 4em;
}

.container {
  margin-left: 50px;  
}

h2, h3 {
    font-family: 'Outfit', sans-serif;
}

.div-title {
    margin-bottom: 20px;
}

.title-3 {
    font-size: 2em;
}